<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.automation.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Automation Test" >
        <classes>

            <class name="com.automation.testsuite.ShoppingCartDeleteTest"></class>
        </classes>
    </test>
</suite>